@media (max-width: 1200px){
    .container{
        width: 965px;
    }
    .project-card{
        width: 48%;
    }
    .about-info{
        display: flex;
        flex-wrap: wrap;
    }
    .about-description{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px){
    .container{
        width: 760px;
    }
}

@media (max-width: 768px){
    .description_small{
        font-size: 10px;
    }
    .menu-list {
        display: none;
    }
    .container{
        width: 95%;
    }
    .hero{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .projects{
        padding-top: 20px;
    }
    .hero-info{
        width: 100%;
        padding-bottom: 320px;
        background-position: bottom;
    }
    .project-cards{
        padding-top: 10px;
    }
    .project-card{
        width: 100%;
        margin: 30px auto;
    }
    
    .footer{
        width: 100%;
    }
}
